/*ESTILOS DE LA PÁGINA DE INICIO Y QUE SE REPETIRÁN EN LAS DIFERENTES PÁGINAS DE LA WEB*/
       
       /*CUERPO*/
        body{margin: 0;
             padding: 0;
             font-size: 18px;
             background-color: #56001D;            
             font-family: "Montserrat", sans-serif;
             font-optical-sizing: auto;
             font-weight: 600;
             font-style: normal;
             line-height: 1.5;
             }
        
       /*CABECERA*/
       header{width: 100%;
              min-height: 200px;
              display: flex;
              background-color: #56001D;             
              }
       .jun img{width: 100%;
                min-height: 180px;
                margin: 10px auto 0;
                background-size: cover;
               }
       
       /* RESPONSIVE CABECERA: Adaptamos la cabecera a las diferentes  
       medidas de pantallas (<=640, >640 y <=1024, lo que supere 1024px medida pantalla normal*/         
       @media (max-width: 640px){header{display: block;
                                         min-height: 80px;}
                                  .jun img{min-height: 60px;}                                             
                                  }
       @media (min-width: 641px) and (max-width: 1024px){header{display: block;
                                                                min-height: 120px;}
                                                         .jun img{min-height: 100px;}
                                                        }
             
       /*MAIN*/
       main{width: 100%;
            margin: 5px auto 20px;
            box-sizing: content-box; /*Para que no sobresalga el contenido cuando se encoja el contenedor*/
           }
       nav{width: 100%;
           display: inline-flex;
           flex-wrap: wrap;
           gap: 10px;
           margin: auto;
           justify-content: center;
           text-align: center;
           font-size: 16px;
           }
       nav a{margin: 5px 10px;
             width: 110px;
             padding: 0 8px;
             align-content: center;
             text-decoration: none;
             background-color: #faf5d7;
             color: #56001D;
             border-radius: 15px;
             font-weight: bold;
             }
       nav a:hover{background-color: #97f5f5; /*Cambio de apariencia cuando pasamos ratón encima*/
                   color: black;}      
       .idiomas{margin: 0 10px 5px 30px;
                width: 220px;
                padding: 0 8px;
                align-content: center;
                background-color: #faf5d7;
                border-radius: 15px;
                }              
       .idiomas:hover{background-color: #97f5f5; /*Cambio de apariencia cuando pasamos ratón encima*/
                      color: black;}
       .carrito{margin: 0 10px 5px 50px;
                width: 100px;
                padding: 2px;
                align-content: center;
                font-size:xx-large;
                }    
       
       /*RESPONSIVE NAVEGADOR Y TAMAÑO TEXTO MAIN: Adaptamos el navegador a las diferentes  
       medidas depantallas (<=640, >640 y <=1024, lo que supere 1024px medida pantalla normal*/ 
       @media (max-width: 640px){nav{margin: 0;
                                     gap:5px;
                                     font-size: 12px;}
                                   nav a{margin: 0 4px;
                                         width: 80px;
                                         padding: 0 3px;
                                         border-radius: 8px;
                                         font-size: 14px;
                                         }
                                   .idiomas{margin: 0 5px 2px 10px;
                                            padding: 2px;                                                                                        background-color: #faf5d7;
                                            border-radius: 8px;
                                            font-size: 12px;
                                            }
                                   #google_translate_element{font-size: 10px;}
                                   .carrito{margin-left: 40px;}
                                   main{font-size: 14px;}                                                                                 
                                   }
       @media (min-width: 641px) and (max-width: 1024px){nav{margin: auto;
                                                             gap: 8px;
                                                             font-size: 14px;}                                                            
                                                        nav a{margin: 0 8px;
                                                              width: 100px;
                                                              padding: 0px 6px;
                                                              border-radius: 10px;
                                                              font-size: 14px;
                                                              } 
                                                        .idiomas{margin: 0 8px 4px 20px;
                                                                 padding: 4px;                                                                                        background-color: #faf5d7;
                                                                 border-radius: 10px;
                                                                 font-size: 12px;
                                                                 }
                                                        .carrito{margin-left: 80px;}
                                                        main{font-size: 16px;}     
                                                        }
       
       /*PIE DE PÁGINA*/    
       footer{width: 100%;
              margin: 0;
              padding:0;
              text-align: center;
              font-size: 15px;
              background-color: #faf5d7;
              color:  #56001D;}
       .peu{width: 90%;
            column-count:4;
            column-width: 25%;
            column-gap: 8px;
            display: flex;
            margin: 0 auto;
            }
       .peu h3{padding: 15px 0 0;
               margin: 0;
               }
       .contacte, .politicas, aside{display: block;
                                    width: 100%;
                                    margin: 0 auto;
                                    padding: 0 10px;
                                   }
       .fa-envelope-open-o{font-size: 14px;}
      .sitio{display: block;
              width: 100%;
              margin: 0 auto;
              padding: 0;
              }
       .peu ul{margin: 0;
               padding: 5px;
               list-style: none;
              }                         
       .peu a{text-decoration: none;
              color: #56001D;}
       .peu a:hover{text-decoration: none;
                    color:blue;}
       
       .sitio div{width: 100%;
                  margin: auto;
                  padding: 0;
                  display: flex;
                  gap: 30px;
       }
           
       .col1, .col2{margin: auto !important;}
       
       .drets{width: 100%;
              height: 125px;
              display: flex;
              margin: 0 auto;
              padding: 0;
              text-align: center;
              }
       .dret1, .dret2{height: 125px;
                      margin: 0;
                      padding: 0;                 
                      }
       .dret1{width: 60%;
              text-align: right;}
       .logoCat{width: 125px;
                height: 125px;
                margin: 0;
                padding: 0;
                background-size: cover;
               }
       .logoCat:hover{transition: rotacion 0.2s; }
       @keyframes rotacion{
                            0%{transform: rotateY(0deg)}
                            25%{transform: rotateY(45deg)}
                            50%{transform: rotateY(90deg)}
                            50%{transform: rotateY(135deg)}
                            100%{transform: rotateY(180deg)}
                            }
       .dret2{width: 100%;
              text-align: left;
              align-content: center;
              }
       .dret2 h4{margin: auto;
                 font-size: 16px;}

       /*Adaptamos el pie a las diferentes  medidas de pantallas*/ 
       @media (max-width: 640px){footer{font-size: 10px;}
                                   .peu{column-count: 2;
                                        column-gap: 4px;
                                        display: block;}
                                   .peu h3{padding: 10px 0 0}
                                   .contacte, .politicas, aside{padding: 0 5px;}
                                   .peu ul{padding: 2px;}                         
                                   .sitio div{margin: 0 0 0 30px;
                                              gap:20px}
                                   .drets{height: 65px;}
                                   .dret1, .dret2{height: 65px;}
                                   .logoCat{width: 60px;
                                          height: 60px;}
                                   .dret2 h4{font-size: 14px;}
                                   }
        @media (min-width: 640px) and (max-width: 1024){footer{font-size: 12px;}
                                                        .peu{width: 50%;
                                                             column-count: 2;
                                                             column-gap: 10px;
                                                             display: block;}
                                                        .peu h3{padding: 15px 0 0;}                         
                                                        .drets{height: 90px;}
                                                        .dret1, .dret2{height: 90px;}
                                                        .logoCat{width: 88px;
                                                               height: 88px;}
                                                        .dret2 h4{font-size: 16px;}
                                                        }

                                   
       /*ESPECÍFICO PÁGINA DE INICIO*/
       .contGran{width: 95%;
                 margin: 10px auto;
                 padding: 5px 10px;
                 border-radius: 30px;
                 background: repeating-linear-gradient(to right, #9c818a, #faf5d7, #9e7683);
                 color: #56001D;
                 text-align: center;
                 }
       .contNovetats, .contPetit{width: 98%;              
                                 margin: 5px auto;
                                 padding: 5px;
                                 display: inline-flex;
                                 flex-wrap: wrap;
                                 gap: 10px;
                                 justify-content:space-between;
                                 border-radius: 20px;
                                 } 

       .nuevo{width: 55%;                          /*contenedor novedades catálogo*/
              height: 660px;
              margin: 10px auto;
              padding: 5px 10px;
              display: flex;
              flex-wrap: wrap;
              gap: 15px; 
              align-content:space-between;
              box-sizing: content-box; 
              border: 2px solid #56001D;
              border-radius: 20px;
              text-align: center;
              }
       .nuevo h2, .news h2, 
       .caixa h2, .botiga h2{margin: 15px auto 0;
                             padding: 0;
                             text-align: center;
                            }
       .nuevo p{margin: 0;
                padding: 0 20px;
                text-align: justify;}                   
       .catNovetat{width: 100%;                      /*contenedor artículos novedades catálogo*/
                   height: 520px;
                   margin: 0 auto;
                   padding: 0;
                   display: flex;
                   flex-wrap: wrap;
                   gap: 20px; 
                   align-content:space-between;
                   text-align: center;
                   }
       .novetat{width: 320px;                         /*contenedor artículo catálogo*/
                height: 480px;
                margin: 10px 35px 0;
                align-items: flex-start;
                border: 2px solid #56001D;
                border-radius: 15px;
                box-sizing: content-box;
                text-align: center;
                }
       .novetat:hover{background-color:#97f5f5;
                      color: black;}
       .novetat img{/*max-width: 260px;*/                       /*imágen artículo*/
                    max-height: 382px;
                    margin: 30px 0 20px;
                    background-color: white;
                    border-radius: 10px;
                    background-size: cover;
                    }
       .novetat img:hover{transform:scale(1.1);} 
       .novetat p{text-align: center;}

       .news{width: 35%;                               /*contenedor notícias*/
             height: 660px;
             margin: 10px auto 0;             
             padding: 5px 10px;
             border: 2px solid #56001D;
             border-radius: 15px;
             box-sizing: content-box;
             }
       .news p{padding: 0 20px;                       /*párrafo texto notícia*/
               text-align: justify;}
       .news img{max-height: 65%;                     /*párrafo imágen que acompaña a la notícia*/
                 margin: 0 auto 10px;
                 text-align: center;
                 border-radius: 10px;
                 }

       .caixa{width:25%;
              min-height: 200px;
              margin: 5px auto;
              padding: 0 20px 5px;
              border: 2px solid #56001D;
              border-radius: 15px;
              box-sizing: content-box;
              }
         
       .caixa p{padding: 0 10px 5px;
                text-align:justify;}
       
       .catacami{width: 320px;                         /*contenedor artículo catálogo*/
                height: 440px;
                margin: 10px auto;
                border: 2px solid #56001D;
                border-radius: 15px;
                text-align: center;
                box-sizing: content-box;
                }
       .catacami h3{margin: 20px 0 0;
                     padding: 0;}
       .catacami:hover{background-color:#97f5f5;
                      color: black;}                       
       .catacami img{width:260px;                       /*imagen artículo*/
                     height:380px;
                     margin: 30px 0 20px;
                     background-color: white;
                     border-radius: 10px;
                     background-size: cover;
                    }
       .catacami img:hover{transform:scale(1.1);} 
       .totebag{width: 320px;                        /*imagen bolsa*/
                height: 440px;
                margin: 10px auto;
                /*background-color: white;*/
                border: 2px solid #56001D;
                border-radius: 15px;
                background-size: cover;
                }
       .totebagImag{width: 240px;                    
                     height: 340px;
                     margin: 0 0 20px;
                     border-radius: 15px;
                     }

       .botiga{width: 90%;
               min-height: 150px;
               margin: 10px auto 20px;
               padding: 5px 20px;
               border: 2px solid #56001D;
               border-radius: 20px;
              }
       .botiga p{padding: 0 20px;
                 text-align:justify;}

       @media (max-width: 640px){.contNovetats{min-height:490px}
                                   .catNovetat{max-height: 383px;  
                                                 display: flex;
                                                 flex-wrap: wrap;
                                                 margin: 5px auto;
                                                 text-align: center;
                                                 font-size: 14px;
                                                 }
                                   .nuevo{width: 90%;
                                          min-height: 1000px;
                                          margin: 10px auto 0;
                                          padding: 2px 5px;
                                          display: block;
                                          flex-wrap: wrap;
                                          gap: 5px; 
                                          }
                                   .novetat{width: 260px;                         
                                            height: 410px;
                                            margin: 10px auto 0;
                                            display: block;
                                            }    
                                   .novetat img{width: 220px;                       
                                                 height: 340px;
                                                 margin: 20px 0 15px;                                                 
                                                 }                                                 
                                   .news{width: 90%;                               
                                          max-height: 510px;}                                  
                                   .news img{max-width: 260px;
                                             max-height: 610px;}  
                                   .caixa{width:70%;
                                          min-height: 200px;
                                          margin: 2px auto;
                                          padding: 0 10px 5px;
                                          }                       
                                   .catacami{width: 250px;                         
                                             height: 345px;
                                             margin: 5px auto;
                                             } 
                                   .catacami img{width: 210px;                       
                                                 height: 310px;
                                                 margin: 15px 0 10px;
                                                 }
                                   .totebag{width: 250px;                         
                                                 height: 345px;
                                                 margin: 5px auto;
                                                 border: 2px solid #56001D;
                                                 border-radius: 15px;
                                                 text-align: center;
                                                 }             
                                   .totebagImag{width: 180px;                    
                                                 height: 250px;
                                                 margin: 15px 0 10px;
                                                 }
                                                        
                                   .botiga{width: 90%;
                                          margin: 10px auto 20px;
                                          padding: 5px 20px;
                                          }
                                   }
                                       
 @media (min-width: 641px) and (max-width: 1024px){.contNovetats{min-height:740px}
                                                   .catNovetat{max-height: 580px;  
                                                               display: flex;
                                                               flex-wrap: wrap;
                                                               margin: 5px auto;
                                                               text-align: center;
                                                               font-size: 14px;
                                                               }
                                                   .nuevo{width: 95%;
                                                          max-height: 580px;
                                                          margin: 10px auto 0;
                                                          padding: 2px 5px;
                                                          display: inline-flex;
                                                          flex-wrap: wrap;
                                                          gap: 5px; 
                                                          }
                                                    .novetat{width: 260px;                         
                                                             height: 410px;
                                                             margin: 10px auto 0;
                                                             display: block;
                                                             }    
                                                      .novetat img{width: 220px;                       
                                                                   height: 340px;
                                                                   margin: 20px 0 15px;                                                 
                                                                   }                                                 
                                                        .news{width: 95%;                               
                                                               max-height: 640px;
                                                               margin: 10px auto 0;             
                                                               padding: 5px 10px;                                     
                                                                      }                                  
                                                        .news img{max-height: 73%;                     
                                                                  margin: 0 auto 10px;
                                                                  text-align: center;
                                                                  border-radius: 10px;
                                                                  }  
                                                        .caixa{width:45%;
                                                               min-height: 200px;
                                                               margin: 2px auto;
                                                               padding: 0 10px 5px;
                                                               }                       
                                                        .catacami{width: 250px;                         
                                                                 height: 345px;
                                                                 margin: 5px auto;
                                                                 } 
                                                        .catacami img{width: 210px;                       
                                                                      height: 310px;
                                                                      margin: 15px 0 10px;
                                                                      }
                                                        .totebag{width: 250px;                         
                                                                     height: 345px;
                                                                     margin: 5px auto;
                                                                     border: 2px solid #56001D;
                                                                     border-radius: 15px;
                                                                     text-align: center;
                                                                     }             
                                                        .totebagImag{width: 180px;                    
                                                                    height: 250px;
                                                                    margin: 15px 0 10px;
                                                                    }
                                                                             
                                                        .botiga{width: 90%;
                                                               min-height: 150px;
                                                               margin: 10px auto 20px;
                                                               padding: 5px 20px;
                                                               }
                                                        }

      /*ESPECÍFICO PÁGINA DE LIBROS*/
      /*<div class="contGran"> la aprovechamos*/
      .libros{width: 98%;
              margin: 5px auto 20px;
              padding: 5px 10px;
              display: inline-flex;
              flex-wrap: wrap;
              gap: 30px;
              text-align: center;
              box-sizing: content-box;
              }
       .libros h1{margin: 0 0 20px;
                  padding: 0;}
       .libros article{width: 48%;
                       min-height: 270px;
                       margin: 10px auto;
                       display: inline-flex;
                       flex-wrap: wrap;
                       gap: 20px;
                       align-items: flex-start;
                       border: 2px solid #56001D;
                       border-radius: 20px;
                       text-align: center;
                       box-sizing: content-box;
                      }
       .libro{max-width: 20%;
              margin: 20px 5px;
              height: 280px;
              display: inline-flex;
              flex-wrap: wrap;
              gap: 20px;
              box-sizing: content-box;
              }
       .libro img{width: 180px;
                  height: 260px;
                  margin: 10px;
                  border-radius: 10px;
                  background-size: cover;}
       .resena{max-width: 65%;
               margin: 20px 0 0 80px;
               height: 270px;
               padding-top: 35px;
               display: block;
               flex-wrap: wrap;
               gap: 10px;
               text-align: justify;
               box-sizing: content-box;}
       .resena p{margin:0 0 3px;}
       .realza{margin-top: 10px;
               font-size: 20px;}
       .resena a{text-decoration: none;
                 color:#56001D;}
       .resena a:hover{text-decoration: none;
                       color:#97f5f5;}


       @media (max-width: 640px){.libros{width:50%}
                                  .libros article{width:90%;
                                   min-height: 450px;
                                                 margin: 2px auto;
                                                 padding: 5px;
                                                 display: block;
                                                 gap: 0;
                                                 font-size: small;
                                                 }
                                   .libro{min-width: 140px;
                                          height: 135px;
                                          margin: 20px auto;
                                          }
                                   .libro img{width: 135px;
                                                 height: 180px;
                                                 margin: 5px;
                                                 }
                                   .resena{margin: 10px auto 0;
                                                 max-height: 180px;
                                                 padding: 10px;
                                                 display: block;
                                                 }
                                   .resena p{text-align: justify;}
                                   .realza{margin-top: 5px;
                                                 font-size: 12px;}
                     }
       @media (min-width: 641px) and (max-width: 1024px){.libros article{width:35%;
                                                                         margin: 8px auto;
                                                                         padding: 10px;
                                                                         display: block;
                                                                         gap: 0;
                                                                         font-size: medium;
                                                                         }
                                                        .libro{width: 180px;
                                                               height: 250px;
                                                               margin: 10px auto;
                                                               display:inline;
                                                               padding: 0;}
                                                        .libro img{width: 155px;
                                                                    height: 220px;
                                                                    margin: 5px;
                                                                    padding: 0;
                                                                   }
                                                        .resena{margin: 10px auto;
                                                                max-height: 230px;
                                                                padding: 10px 0 0;
                                                                display: block;
                                                                }
                                                        .resena p{text-align: justify;}
                                                        .realza{margin-top: 8px;
                                                                font-size: 16px;}
                                                        }
                                                                             
      /*ESPECÍFICO PÁGINAS DE CAMISETAS, SUDADERAS Y BOLSAS*/
      /*<div class="contGran"> la aprovechamos*/
      .camisetas{width: 98%;
                 margin: 5px auto;
                 padding: 5px 10px;
                 display: flex;
                 flex-wrap: wrap;
                 gap: 15px;
                 align-content:space-between;
                 border-radius: 20px;
                 text-align: justify;
                 }
       .camisetas h1{margin: 0;
                     padding: 0;
                     text-align: center;}
       .camisetas p{margin: 0;
                    padding: 0 30px;}
       .catalogo{max-width: 20vw;
                 margin: 10px auto;
                 align-items: flex-start;
                 border: 2px solid #56001D;
                 border-radius: 15px;
                 text-align: center;
                 font-size: 16px;
                 }
       .catalogo h3{margin:20px 0 0;
                    padding:0;}
       .catalogo p{padding: 10px 0 20px;}
       .catalogo:hover{background-color:#97f5f5;
                       color: black;}
       .catalogo img{max-width:16vw;
                     margin: 30px 20px 10px;
                     background-color: white;
                     border-radius: 10px;
                     background-size: cover;
                     }
       .catalogo img:hover{transform:scale(1.1);} 

       @media (max-width: 640px){.catalogo{min-width: 60vw;                                           
                                           margin: 10px auto;}
                                   .catalogo img{min-width: 50vw;
                                                 margin: 30px 0 0;}
                                  }
       @media (min-width: 641px) and (max-width: 1024px){.catalogo{min-width: 40vw;                                                                   
                                                                   margin: 10px auto;}
                                                          .catalogo img{min-width: 30vw;
                                                                        margin: 30px 0 10px;}
                                  }

      /*ESPECÍFICO PÁGINA SOBRE MI*/
      /*<div class="contGran"> la aprovechamos*/
      .bio{width: 98%;
           margin: 0 auto 20px;
           padding: 0 10px 0;
           display: inline-flex;
           flex-wrap: wrap;
           text-align: center;
           }
       .bio h1{margin: 0;
               padding: 0;
              }
       .autorretrato{margin: 0 auto;
                     display: flex;
                     flex-wrap: wrap;
                     }
       .autorretrato img{width: 50vw;
                         border: 2px solid #56001D;
                         border-radius: 20px;
                         text-align: center;
                         background-size: cover;                    
                        }              
       .biografia{padding: 10px 30px 0;
                  text-align: justify;}

       @media (max-width: 640px){.bio{margin: 0 auto 10px;
                                      padding: 0 5px 0;}
                                  .bio h1{font-size: small;}
                                  .biografia{padding: 5px 15px 0;
                                             font-size: small;}
                                  }
       @media (min-width: 641px) and (max-width: 1024px){.bio{margin: 0 auto 15px;
                                                              padding: 0 8px 0;}
                                                        .bio h1{font-size: medium;}
                                                        .biografia{padding: 8px 24px 0;
                                                                   font-size: medium;}
                                                        }

       /*ESPECÍFICO PÁGINA CONTACTO*/
       /*<div class="contGran"> la aprovechamos*/
       .contacto{width: 98%;
                 margin: 0 auto 20px;
                 padding: 0 10px 0;
                 display: inline-flex;
                 flex-wrap: wrap;
                 text-align: center;
                 }
       .contacto p{margin: 0 30px 20px;
                   text-align: justify;
                   }
       .cajaform{width: 50%;
                 min-height: 370px;
                 margin: 0 auto;
                 display: block;
                 background-color:#97f5f5;
                 border: 2px solid #56001D;
                 border-radius: 15px;
                 }
       #info{min-height: 300px;
             margin: 20px auto;
             text-align: center;
             font-size: 16px;
             }
       #info label{margin-right:15px;}
       #info input{width: 300px;
                   height: 15px;
                   margin: 5px auto;
                   padding: 5px;
                   border: 1px solid grey;
                   border-radius: 10px;
                   font-size: 14px;
                   }
       .soli{margin-top: 20px;}
       #motivo{width: 70%;
               min-height: 70px;
               margin: 10px 0 0 20px;
               font-size: 14px;
               resize: none;
              }
       #condiLegal{width:15px !important;
                  margin: 8px 0;
                  
              }                
       .condi{margin:0;
              padding: 10px 0;
              font-size: 14px;}                   
       .polis{margin: auto;
              padding: 10px 0;
              font-size: 14px;}                          
       #info [type="submit"]{margin: 15px auto;
                            width: 80px;
                            height: 40px;
                            padding: 5px;
                            border-radius: 20px;
                            background-color: green;
                            color:#faf5d7;
                            font-weight: bold;
                            box-shadow: 3px 3px 6px #56001D;;
                            }

       @media (max-width: 640px){.cajaform{width: 80%;
                                           min-height: 370px;
                                           margin: 0 auto;
                                           font-size: 12px;
                                           }
                                  #info{min-height: 250px;
                                        margin: 15px auto;
                                        font-size: 12px;
                                        }
                                   #info input{width: 230px;
                                               font-size: 12px;}
                                   #motivo{width: 85%;
                                          min-height: 130px;
                                          margin: 10px 0 0 20px;
                                          font-size: 14px;
                                          resize: none;
                                          }
                                   }       




       @media (min-width: 641px) and (max-width: 1024px){.cajaform{width: 80%;
                                                                   min-height: 370px;
                                                                   margin: 0 auto;
                                                                  }
                                                        #info{min-height: 300px;
                                                              margin: 20px auto;
                                                              font-size: 14px;
                                                              }
                                                        #info input{font-size: 14px;}
                                                        }       








       /*ESPECÍFICO PÁGINA DE PRODUCTO*/
       .contPro{width: 100%;
                margin:0;
                padding: 0;
                background-color: #faf5d7;
                text-align: center;
                color:#56001D
                 }
       .titol{width: 98vw;
              height: 10vh;
              margin: 0 auto;
              padding: 0;
              }
       .titol h1{margin:5px;
                 padding: 0;
                 text-align: center;
                 font-size: 60px;
                 }        
       .contProducte{width: 98vw;
                     margin: 5px auto;
                     display: inline-flex;
                     flex-wrap: wrap;
                     gap: 15px;
                     justify-content:space-between;
                     border: 2px solid #56001D;
                     border-radius: 20px;
                     }
       .contDibuix{width: 35vw;
                   margin:10px auto;
                   text-align: center;
                   }
       .contDibuix img{width: 30vw;
                       margin:5px auto;
                       text-align: center;
                       border-radius: 15px;
                       background-size: cover;
                       }
       .contInfo{width: 55vw;
                 margin: 10px auto;
                 box-sizing: content-box;
                 border: 1px solid black;
                 border-radius: 20px;
                 text-align: justify;
                 } 
       .ilustracio{width: 50vw;              
                   margin: 5px auto;
                   text-align: center;
                   border: 1px solid black;
                   border-radius: 15px;
                   } 
       .ilustracio img{width: 20vw;
                       margin:5px auto;
                       text-align: center;
                       border-radius: 15px;
                       background-size: cover;
                      }                               
       .detalles{width: 50vw;
                 margin: 5px auto;
                 padding: 5px 20px;
                 border: 2px solid black;
                 text-align: justify;
                 color:#56001D;
                 }
       .detalles h3{margin: 5px 0 10px;
                    padding: 0;
                    text-align: center;}
       .detalles p{margin: 5px 15px;}
       .botonesTallas, .botonesColores {margin:10px;
                                        padding: 5px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        }
       .botonesTallas button, .botonesColores button{width: 40px;
                                                     height: 40px;
                                                     border: 1px solid black;
                                                     margin: 0 10px;
                                                     font-weight: bold;
                                                     }
       #negro{border-radius: 50px;
              background-color: black;}
       #marron{border-radius: 50px;
               background-color: #641111;}
       #gris{border-radius: 50px;
              background-color: lightgray;}
       #azul{border-radius: 50px;
              background-color: #0382f8;}
       #blanco{border-radius: 50px;
               background-color: whitesmoke;}
       #violeta{border-radius: 50px;
                background-color: #9503f6;}
       #verde{border-radius: 50px;
              background-color: green;}
       #rojo{border-radius: 50px;
             background-color: red;}
       label{width: 40px;
             margin: 0 15px;}
       input{width:40px;
             height:30px;
             margin: 0 auto 20px;
             padding:5px 10px;
             border: 1px solid #56001D;
             border-radius: 10px;
             font-size: 20px;
             font-weight: bold;}
       #añadir{width:100px;
               height:40px;
               margin: 0 0 20px 20px;
               padding: 5px 10px;
               background-color: green;
               border: 1px solid #56001D;
               border-radius: 10px;
               color:#faf5d7;
               font-size: 16px;
               font-weight: bold;}
       
       /*ESPECÍFICO PÁGINA POLÍTICAS, COOKIES*/
       /*<div class="contGran"> la aprovechamos*/
       .contGran hgroup{width: 100%;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        color: #56001D;
                        }
      .politicas h1{margin: 10px auto 0;
                    padding:0;
                    text-align: center;
                    }
      .politicas h2{margin: 0 auto 20px;
                    padding:0;
                    text-align: center;
                    }                    
      .legal{  width: 90%;
               min-height: 150px;
               margin: 10px auto 30px;
               padding: 5px 20px;
               border: 2px solid #56001D;
               border-radius: 20px;
               text-align: justify;
             }
      .legal p{padding: 0 25px;}
      /*ESPECÍFICO PÁGINA POLÍTICAS*/
      /*<div class="contGran"> y >dic class="legal"> las aprovechamos*/



       






























      /*ESPECÍFICO PÁGINA DE NUEVO CLIENTE
      /*<div class="cliente"> es el mismo formato que <div class="clinica">
      .cliente h1{text-align: center;
                  margin-top: 20px;
                  padding: 0;
                  color: #7a3b3b;
                 }
      .cliente form{max-width: 900px;
                    min-height: 400px;
                    margin: 0 auto 30px;
                    padding: 20px;
                    display: block;
                    justify-content: space-between;
                    border: 2px solid green;
                    border-radius: 25px;
                    background-color: #f9f4ea;
                   }
      .cliente fieldset{border: 1px solid #7a3b3b;
                        border-radius: 15px;
                        margin-bottom: 10px;
                        padding: 15px;
                       } 
      .cliente legend{font-weight: bold;
                      color:#7a3b3b;
                      padding: 5px 10px;
                      }             
      .cliente label{width: 100px;
                     display:inline-block;
                     margin-left: 20px;
                     font-weight: 400;
                     }
      .cliente input{width: 260px;
                     min-height: 20px;
                     margin:10px 5px;
                     padding: 5px;
                     display: inline-block;
                     border: 1px solid grey;
                     border-radius: 10px;
                     font-size: 16px;
                     }
      .mascotas select{width: 200px;
                       height: 30px;
                       text-align: center;
                       }
      button{margin: 10px 20px;
              width: 150px;
              padding: 10px;
              display:inline;
              justify-content:space-between;
              text-align: center;
              border-radius: 25px;
              font-size: large;
              font-weight: bold;
              }
      .boto1{background-color: #dcdc04;
             border: 1px solid #dcdc04;
             color:indigo;
             box-shadow: 5px 5px 10px #b05959;
             }
      .boto1:hover{background-color: #f6f697;
                   border: 1px solid #f6f697;
                   color: #cd5ccd;
                  }
      .boto2{background-color: green;
             border: 1px solid green;
             color:antiquewhite;
             box-shadow: 5px 5px 10px #b05959;
             }
      .boto2:hover{background-color: #b8f572;
                   border: 1px solid #b8f572;
                   color: black;
              }                         
       [type="radio"]{margin: 10px 0 20px 0 !important;
                      width: 20px !important;
                     }
       .amoverif{margin-left: 150px !important;}             
       [type="checkbox"]{margin: 10px 0 20px 10px !important;
                         width: 20px !important;
                        }
       .sinto{margin-bottom: 10px;}                 
       #sinto{width: 95%;
              min-height: 100px;
              margin-left: 20px;
              font-size: 14px;
              resize: none;
             }          
       .centrar{text-align: center;
                margin:auto;}

       /*ESPECÍFICO PÁGINA LISTADO*/
       /*<div id="listado"> es el mismo formato que <div class="clinica">
       #listCli{margin: auto;
                padding: 10px 50px;
                border: 2px solid #b05959;
                border-radius: 20px;
                background-color: #dff6df;
                } 
       #listado{display: flex;
                flex-wrap: wrap;}
       #fichaCli{width: 350px;
                 min-height: 450px;
                 margin: 20px;
                 padding: 20px 5px 5px;
                 border: 2px solid green;
                 border-radius: 15px;
                 text-align: center;
                 background-color: #f9f4ea;
                 color:#7a3b3b;
                 word-wrap: break-word;
                 overflow-wrap: break-word;
                 }
       #fichaCli p{margin: 0;
                   padding: 0;}
       #fichaCli hr{width: 250px;
                    border-color: #7a3b3b;}
       #borrarCli{border: 1px solid red;
                   background-color: red;
                   box-shadow: 5px 5px 10px #b05959;
                  }
       #borrarCli:hover{background-color: #f78383;
                        border-color: #f78383;}*/

              
       /*ESPECÍFICO PÁGINA POLÍTICAS*/
       /*<div class="politicas"> es el mismo formato que <div class="clinica">
       .politicas h1, h2{text-align: center;
                          color:#7a3b3b;
                          padding: 5px;
                          margin: 0;}
      .politicas h1{margin-top: 20px;}
      .politicas h2{margin-bottom: 20px;}                    
      .legal{width: 80%;
             min-height: 700px;
             margin:0 auto 50px;
             padding: 20px 50px;
             background-color:#f7dede;
             color:black;
             border: 2px solid #0e310e;
             border-radius: 20px;
             }
      .legal p{padding: 0 25px;}

      /*ESPECÍFICO PÁGINA CONTACTO
       <div class="politicas"> es el mismo formato que <div class="clinica">
       .contactar h1{text-align: center;
                     margin-top: 20px;
                     padding: 0;
                     color: #7a3b3b
                    }
       .cajaform{width: 50%;
                 min-height: 370px;
                 margin: 0 auto;
                 display: block;
                 background-color: #f9f4ea;
                 border: 2px solid green;
                 border-radius: 15px;
                 }
       #info{min-height: 300px;
              margin: 20px auto;
              text-align: center;
              font-size: 16px;
              }
       #info label{margin-right:15px;}
       #info input{width: 300px;
                        height: 15px;
                        margin: 5px auto;
                        padding: 5px;
                        border: 1px solid grey;
                        border-radius: 10px;
                        font-size: 14px;
                        }
       .soli{margin-top: 20px;}
       #motivo{width: 70%;
              min-height: 70px;
              margin: 10px 0 0 20px;
              font-size: 14px;
              resize: none;
             }          
       .condi{font-size: 14px;
              margin-right: 0 !important;}                 
       .polis{margin-left: 30px;
              font-size: 14px;}                          
       #info [type="submit"]{margin: 10px auto 10px;
                            width: 150px;
                            height: 50px;
                            padding: 10px;
                            border-radius: 25px;
                            background-color: green;
                            color:antiquewhite;
                            font-size: large;
                            font-weight: bold;
                            box-shadow: 5px 5px 10px #b05959;
                            }
       .cajadir{width: 400px;
                height: 150px;
                margin: 0 auto;
                padding: 5px;
                background-color: #d2d0d0;
                border: 2px solid #565555;
                border-radius: 20px;
               }
       .contactar img{width: 60%;
                      max-height: 300px;
                      display: flex;
                      margin: 10px auto;
                      border-radius: 15px;
                      resize:both;
                     }*/
     
      
      

       

